*target/
*.idea/
*.project
*.classpath
*.jar
*.zip
*.tar
*doc
*assets
*.gz*
*connectors

# Python specific
*__pycache__

# Maven specific
**/target/*

# IntelliJ IDEA specific
*.iml

# Eclipse specific
**/.project
**/.settings/*
**/.prefs
**/.classpath
**/.factorypath
/target/

**/dependency-reduced-pom.xml

# VSCode
.vscode/

# OS
**.DS_Store

# env
*.env
*.venv